---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=445jt4mb4gsenju48n2ndu8d&format=json&pageSize=25&show=longName,storeType,city,distance,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":17,"currentPage":1,"total":17,"totalPages":1,"queryTime":"0.010","totalTime":"0.020","partial":false,"canonicalUrl":"/v1/stores(area(\"80202\",25))?show=longName,storeType,city,distance,phone&pageSize=25&format=json&apiKey=445jt4mb4gsenju48n2ndu8d","stores":[{"longName":"Cherry
        Creek Shopping Center","storeType":"Mobile SAS","city":"Denver","distance":3.45,"phone":"303-270-9189"},{"longName":"Belmar","storeType":"Big
        Box","city":"Lakewood","distance":5.31,"phone":"303-742-8039"},{"longName":"Colorado
        Blvd","storeType":"Big Box","city":"Denver","distance":5.59,"phone":"303-758-5805"},{"longName":"Denver
        West","storeType":"Big Box","city":"Lakewood","distance":8.39,"phone":"303-273-5617"},{"longName":"Westminster","storeType":"Big
        Box","city":"Westminster","distance":8.52,"phone":"303-426-4434"},{"longName":"Northglenn","stor[...]
